h1 {
    background: pink;
}
.paragraph-1 {
    background: greenyellow;
    font-size: 20px;
    color: white;
}
.paragraph-2 {
    border: 10px solid yellow;
    border-radius: 5px;
    font-size: 24px;
    margin-bottom: 30px;
    padding-bottom: 60px;
    padding-left: 20px;
}

.paragraph-3 {
    font-size: 24px;
    font-style: italic;
    text-align: center;
    text-shadow: greenyellow 4px 5px 6px;
    
    
}
