h1 {
    background: pink;
}
.paragraph-1 {
    background: greenyellow;
    font-size: 20px;
    color: white;
}
.paragraph-2 {
    border: 10px solid yellow;
    border-radius: 5px;
    font-size: 24px;
    margin-bottom: 30px;
    padding-bottom: 60px;
    padding-left: 20px;
}

.paragraph-3 {
    font-weight: bold;
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace; 
    padding-left: 20px;
}
